<div>
  <div data-component="searches">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Keywords</th>
          <th>Category</th>
          <th>Condition</th>
          <th>Postal Code</th>
          <th>Listing Type</th>
          <th>Min Price</th>
          <th>Max Price</th>
          <th>Best Offer Max</th>
          <th>Include Description</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "row", collection: @searches %>
      </tbody>
    </table>
  </div>
  <div class="new-search-button">
    <%= link_to 'New Search', new_search_path, data: { type: "button" } %>
    <%= t ".submit" %>
  </div>
</div>
